# Python
*.pyc
*.pyo
__pycache__/
*.pyd

# Virtual Environment
venv/
env/
ENV/

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/
*.log

# VS Code / IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Mac / Windows
.DS_Store
Thumbs.db

# Pytest / Coverage
htmlcov/
.coverage
.tox/
.pytest_cache/

# Environment variables
.env
